@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--404 {
    width: 100%;
    padding: 1rem;

    * {
        width: 100%;
    }

    h6 {
        margin-bottom: 6rem;
        text-align: center;
        text-shadow: none;
        color: $neon-yellow;
    }

    p {
        text-align: center;
        padding: 1rem;
        border: .1rem solid $neon-green;
        max-width: 35rem;
        transform: rotate(2deg);
    }

    ul {
        margin-bottom: 3rem;
    }

    li {
        text-align: center;
        margin-bottom: 1rem;

        a {
            color: $neon-pink;
            transition: transform 100ms linear;
            width: 100%;
            text-align: center;

            &:hover {
                color: $neon-yellow;
                transform: scale(1.1);
            }
        }
    }
}

.container--404svg {
    margin: 6rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 35rem;
    margin-bottom: 4vh;

    svg {
        max-width: 30%;
        padding: 0 .5rem;
    }
}

.container--404shadow {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
