$primary-background: #EDEDED;
$card-background: #F4F4F4;
$placeholder-text: rgba(56, 56, 56, 0.5);
$primary-text: rgba(0, 0, 0, 0.8);
$darker-text: rgba(0, 0, 0, 0.9);
$project-background: rgba(0, 0, 0, 0.9);
$green: #93C71D;
$red: rgba(173, 24, 52, 0.75);
$purple: rgba(70, 24, 173, 0.75);
$teal: rgba(24, 173, 145, 0.75);

// Border Radius
$b-radius: 10px;

// box-shadow
$b-shadow: 0 5px 10px 5px rgba(0, 0, 0, .16);

// placeholder class for ::after pseudo element to create bottom borders
%bottom-border {
	&::after {
		display: block;
		content: "";
		padding-bottom: .5rem;
		border-bottom: 2px solid $purple;
		transform: scaleX(0);
		transition: transform 150ms ease-in-out;
	}

	&:hover::after,
	&:focus::after,
	&:active::after {
		transform: scaleX(.70);
	}
}

$load-background: loadbackground 750ms ease-in-out forwards;