// NEUTRALS

$black: #222222;
$white: #FEFEFE;
$gray: #ACACAC;

// LANDING

$neon-blue: #08F7FE;
$neon-green: #09FBD3;
$neon-pink: #FE53BB;
$neon-yellow: #F5D300;

// ABOUT

$about-magenta: #DE38C8;
$about-indigo: #652EC7;
$about-dark-purple: #33135C;
// neon-yellow as well

// PROJECTS

$pastel-yellow: #E1EF7E;
$pastel-orange: #FFAA01;
$pastel-green: #12B296;
$pastel-dark-blue: #027A9F;

// BLOG

$blog-blue: #3CB9FC;
$blog-purple: #B537F2;
$blog-indigio: #8A2BE2;
$blog-night-violet: #120052;

// VALUES

$background-color: $black;

// MEDIA BREAKPOINTS

$small: 600px;
$medium: 900px;
$large: 1200px;


// // Border Radius
// $b-radius: 3px;

// // box-shadow
// $b-shadow: 	0 1px 1px rgba(0, 0, 0, .12),
// 						0 2px 2px rgba(0, 0, 0, .12),
// 						0 4px 4px 1px rgba(0, 0, 0, .12),
// 						0 8px 8px 2px rgba(0, 0, 0, .12);

// // placeholder class for ::after pseudo element to create bottom borders
// %bottom-border {
// 	&::after {
// 		display: block;
// 		content: "";
// 		padding-bottom: .5rem;
// 		border-bottom: 2px solid $purple;
// 		transform: scaleX(0);
// 		transition: transform 150ms ease-in-out;
// 	}

// 	&:hover::after,
// 	&:focus::after,
// 	&:active::after {
// 		transform: scaleX(.70);
// 	}
// }

// $load-background: loadbackground 750ms ease-in-out forwards;