$primary-background: #EDEDED;
$card-background: #F4F4F4;
$image-overlay: rgba(56, 56, 56, 0.5);
$primary-text: rgba(0, 0, 0, 0.75);
$green: #93C71D;
$red: rgba(173, 24, 52, 0.75);
$purple: rgba(70, 24, 173, 0.75);
$teal: rgba(24, 173, 145, 0.75);