@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.about-me {
    width: 100%;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
    align-items: center;
    max-width: $max-width;
    
    * {
		color: $neon-yellow;
        width: 100%;
    }

    h1 {
        margin: 2rem 0 1rem;
        text-align: center;
    }
    
    p {
        text-align: left;
        margin-bottom: 1rem;
        line-height: 1.5;
        max-width: 60ch;

        &.last-p {
            margin-bottom: 50vh;
        }
    }

    ul {
        list-style-type: disc;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }

    li {
        color: $neon-green;
        margin-bottom: 1rem;
        line-height: 1.5;
    }

    a {
        color: $neon-pink;
        padding: 0;
    }

    em {
        padding: 0;
        color: $neon-blue;
    }

    h3 {
        text-align: center;
        color: $neon-pink;
        margin-bottom: 1rem;
        text-shadow: none;
    }
}

.plain-image {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 25rem;

    &.last {
        margin-bottom: 50vh;
    }
}

.container--image {
    padding: .5rem;
    margin-bottom: 2rem;
    background-color: $neon-green;
    width: 100%;
    max-width: 20rem;
    clip-path: circle(45%);
}

svg {
    margin-bottom: 1rem;
}

marquee {
    margin-bottom: 25vh;
}