@import "_variables";

@import "style";

@import "navigation";

@import "hero";

h1 {
    padding: 1rem;
    border: .5rem dashed $neon-yellow;
    transform: rotate(-5deg);
    margin: 1rem;
    z-index: 10;
    max-width: 30rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #222222ee;
}

.container--byline {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 1rem;
    text-align: center;
    max-width: 35rem;
    margin-bottom: 4rem;
    text-decoration: underline;
    text-decoration-color: $neon-pink;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip-ink: auto;
    text-decoration-style: wavy;
}

#svg--hero-divider, #svg--about-divider {
    margin-bottom: 4.5rem;
    margin-top: -.5rem;
}

.container--about-this-place {
    width: 100%;
    background-color: $neon-blue;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--about-text {
    display: flex;
    flex-direction: column;
    max-width: 40rem;

    h2, p, em, a, span {
        color: $black;
    }

    span {
        text-decoration: underline;
        text-decoration-color: $neon-yellow;
        text-decoration-skip-ink: auto;
        -webkit-text-decoration-skip-ink: auto;
        text-decoration-style: wavy;
    }

    h2 {
        margin: 0 1rem 1rem;
        text-align: center;
    }

    p {
        line-height: 1.2;
        padding: .5rem;
        background-color: $neon-pink;
        margin: .5rem 2rem;

        &:nth-of-type(1) {
            transform: rotate(-1deg) translateX(.5rem);
        }

        &:nth-of-type(2) {
            transform: rotate(1.3deg) translateX(-.1rem);
        }

        &:nth-of-type(3) {
            transform: rotate(-2deg) trnaslateX(.2rem);
        }
    }
}

.container--what-you-will-find {
    @extend .container--about-this-place;
    background-color: $black;
}

.container--what-text {
    @extend .container--about-text;

    h2 {
        background-color: $neon-blue;
        background-image: linear-gradient($neon-blue, $neon-green);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    ul {
        background: linear-gradient(155deg, $neon-blue, $neon-green 75%);
        padding: 1rem;
        list-style: disc;
        border: .5rem solid $neon-pink;
        margin: 0 1rem;

        li {
            color: $black;
            padding: .5rem;
            margin-left: 2rem;
        }
    }
}

@media screen and (min-width: $small) {
    .container--what-text {
        ul {
            li {
                transform: skew(10deg);
            }
        }
    }
    
    .container--ul-what-text {
        transform: skew(-10deg);
    }
}

// @import "landing";

// @import "about";

// @import "portfolio";

// @import "contact";

// @import "footer";