@import "_variables";

.container--interactive-cat {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    width: 100%;
    height: calc(100vh + 3rem);
    background-color: $neon-yellow;
    transition: transform 250ms linear, border-radius 300ms linear;
    transition-delay: 250ms;
    z-index: 50;
    top: -3rem;

    // outline: 1px solid red;

    // * {
    //     outline: 1px solid lightgreen;
    // }

    .star-background {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    svg:not(.cat) {
        position: absolute;
        transform: scale(0);
        z-index: 1;
    }

    #cat-dialog {
        width: 100%;
        top: 0;
    }

    .cat {
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: rotate(-360deg) scale(0);
    }
}

.talk-box {
    width: 100%;
    max-width: 40rem;
    height: 100%;
    max-height: 40rem;
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: $small) {
    .talk-box {
        top: unset;
    }
}

.container--talk-box-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 22rem;
    height: 25rem;
    padding: 2rem;
    z-index: 10;
    transform: scale(0);

    p {
        margin-bottom: 1rem;
        color: $black;
    }

    a {
        color: $about-dark-purple;
        padding: 0 .2rem;
        background-color: $pastel-yellow;
    }

    #cat-message {
        text-align: center;
    }

    .container--cat-choice {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 100%;
            text-align: center;
        }
    }

    .container--cat-buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button {
            color: $black;
            padding: .5rem;
            border-radius: .5rem;
            font-size: 1.2rem;
            background-color: $white;
            box-shadow: .1rem .1rem $black;
        }

        .cancel {
            border: .2rem solid $neon-pink;
        }

        .subscribe {
            border: .2rem solid $pastel-green;
        }
    }
}

.cat-attribution {
    position: absolute;
    bottom: 2%;
    color: $pastel-orange;
    background-color: $neon-yellow;
    opacity: .8;
    font-size: .75rem;
    text-align: center;
    width: 100%;
}