@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--change-log {
    width: 100%;
    max-width: $max-width;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    
    * {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
    }

    h1 {
        margin: 2rem 0;
        color: $neon-yellow;
        text-align: center;
    }

    li {
        color: $neon-yellow;
        list-style: circle;
        margin-left: 1rem;
    }

    p {
        &:first-child {
            text-align: center;
            font-size: 1.25rem;
            color: $neon-pink;
        }
    }

    a {
        color: $neon-pink;

        &:hover {
            background: $neon-yellow;
            color: $about-dark-purple;
        }
    }
}

.list {
    & > li {
        @include card;
    }
}