@import "_variables";

.contact-background-one {
	width: 100%;
	height: 500px;
	background-color: $teal;
	clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -10;
	margin-top: -180px;
}

.contact-title-container {
	margin-top: 220px;

	p {
		text-align: center;
		line-height: 1.4;
	}
}

.contact-form {
	margin-top: -40px;
	text-align: center;
	margin-bottom: 4rem;

	p {
		margin-bottom: 1.25rem;
		line-height: 1.4;
	}

	a {
		text-decoration: none;
		transition: all 100ms ease-in-out;
		padding-bottom: .2rem;
		border-bottom: 1px solid $primary-text;

		&:hover,
		&:active,
		&:focus {
			color: $card-background;
			background-color: $primary-text;
			outline: none;
		}
	}

	label {
		visibility: hidden;
	}

	input {
		border: none;
		width: 100%;
		border-bottom: 2px solid $teal;
		padding-bottom: .5rem;
		text-align: center;
		font-size: 1rem;
		margin-bottom: 1rem;

		&::placeholder {
			text-align: center;
			font-size: 1rem;
			color: $placeholder-text;
		}
	}

	.gender {
		visibility: hidden;
		height: 0;
		padding: 0;
		margin: 0;
	}

	textarea {
		font-size: 1rem;
		border: 2px solid $teal;
		border-radius: $b-radius;
		width: 100%;
		height: 20vh;
		max-height: 200px;
		text-indent: 0;
		text-align: left;
		padding: 1rem;
		margin-bottom: 1.25rem;

		&::placeholder {
			color: $placeholder-text;
			visibility: visible;
			text-align: center;
		}
	}

	input,
	textarea {
		transform: scale(.95);
		transition: transform 100ms ease-in-out;

		&:hover,
		&:active,
		&:focus {
			transform: scale(1);
			outline: none;
		}
	}

	button {
		font-size: 1rem;
		font-weight: bold;
		padding: 1.25rem 1.5rem;
		background-color: $teal;
		border-radius: $b-radius / 2;
		border: none;
		transition: all 150ms ease-in-out;
		margin-top: 1.25rem;

	&:hover,
		&:active,
		&:focus {
			transform: translateY(-.25rem);
			text-decoration: underline;
			outline: none;
			box-shadow: 0 2px 4px $placeholder-text;
		}
	}
}