@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.section--contact {
	width: 100%;
	padding: 0 1rem;
	max-width: 40rem;

	h1 {
		margin: 1rem;
	}

	a {
		color: $neon-yellow;
		font-size: 2rem;
	}

	svg {
		width: 20rem;
		height: 100%;
	}
}

