@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.section--contact {
	width: 100%;
	padding: 0 1rem;
	max-width: 35rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;

	* {
		color: $pastel-yellow;
		// outline: 1px solid red;
	}

	h2 {
		margin: 4rem 0 2rem;
		width: 100%;
		max-width: 35rem;
	}

	p {
		margin-bottom: 4rem;
		font-size: 1.2rem;
	}

	#question-arrow {
		width: 4rem;
		margin: 0;
	}

	.container--contact-animation {
		width: 100%;
		min-height: 40rem;
		position: relative;
		overflow: hidden;
	}

	form {
		margin: 1rem 0 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 40rem;
		transform-origin: center;
		transition: transform 100ms ease-out;
		position: absolute;

		&.hidden {
			transform: scale(0);
		}
	}

	fieldset {
		width: 100%;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		border: none;
		padding: 2rem;
	}

	legend {
		width: 100%;
		max-width: 65ch;
		text-align: center;
		font-size: 1.5rem;
		line-height: 1.5;
		border: .25rem dashed $neon-blue;
		padding: 1rem;
		transform: skewX(10deg);
		border-radius: 4rem 0 4rem 0;
		position: relative;
		margin-bottom: 2rem;

		&::after {
			content: "?!";
			color: $neon-pink;
			position: absolute;
			bottom: -2rem;
			left: -3rem;
			font-size: 4rem;
			transform: rotate(-20deg);
		}

		p {
			transform: skewX(-10deg);
			padding: .5rem 2rem;
			margin: 0;
			font-size: 1rem;
			text-align: right;

			&:nth-of-type(1) {
				text-align: left;
				margin-bottom: 1rem;
				position: relative;

				&::after {
					content: '!!';
					font-size: 2rem;
					position: absolute;
					bottom: -1rem;
					right: -.5rem;
					transform: rotate(15deg);
					color: $neon-pink;
				}
			}
		}
	}

	.input-group {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		margin-bottom: 1rem;

		&:nth-of-type(1) {
			display: none;
		}

		input {
			width: 20%;
		}

		label {
			width: 80%;
			text-align: left;
		}
	}

	#submit-answer {
		font-size: 1.2rem;
		color: $neon-blue;
		border: 2px solid $neon-blue;
		border-radius: .5rem;
		background-color: transparent;
		padding: 1rem;
		transform: translateY(.25rem);
		transition: transform 100ms linear;

		&:hover {
			transform: translateY(0) scale(1.1);
			box-shadow: 0 .25rem .5rem $neon-pink;
		}
	}
}

#email-link {
	width: 100%;

	svg {
		width: 800px;
	}

	#egg-hatcher {
		transform: translateX(50px) scale(0);
		transform-origin: bottom;
	}

	#chick {
		// transform: matrix(0.22031241,0,0,0.22031241,-591.60419,-259.8001);
	}
}
