@import "_variables";

.container--hero {
    width: 100%;
    height: 40vh;
    min-height: 350px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
    perspective-origin: bottom left;
}

#hero-cube {
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    margin-right: 10%;
    margin-top: 5%;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    border: .2rem dashed $blog-purple;
    border-radius: 1rem;
    outline: .2rem dashed $neon-pink;
}

.front {
    transform: translateZ(125px);
    background-color: $neon-green;
}

.back {
    background-color: $pastel-yellow;
    transform: translateZ(-125px);
}

.left {
    background-color: $neon-blue;
    transform: rotateY(-90deg) translateZ(125px);
}

.right {
    background-color: $neon-blue;
    transform: rotateY(90deg) translateZ(125px);
}

.top {
    background-color: $neon-yellow;
    transform: rotateX(90deg) translateZ(125px);
}

.bottom {
    background-color: $pastel-orange;
    transform: rotateX(-90deg) translateZ(125px);
}

#karate-kick {
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    transform: scale(.5) rotate(45deg) translate(50%);
    animation: flyingKarateKick 3s linear infinite;
}

// @keyframes rotateCube {
//     from { transform: rotateY(0deg) rotateX(360deg) rotateZ(0deg); }
//     to { transform: rotateY(720deg) rotateX(0deg) rotateZ(360deg); }
// }

@keyframes flyingKarateKick {
    0% {
        transform: scale(.5) rotate(45deg) translate(50%);
    }

    18% {
        transform: scale(.5) rotate(45deg) translate(-70%);
    }

    22% {
        transform: scale(.5) rotate(225deg) translate(50%);
    }

    38% {
        transform: scale(.5) rotate(225deg) translate(-70%);
    }

    42% {
        transform: scale(.5) rotate(90deg) translate(50%,-50%);
    }

    58% {
        transform: scale(.5) rotate(90deg) translate(-50%,-50%);
    }

    62% {
        transform: scale(.5) rotate(-45deg) translate(50%);
    }

    78% {
        transform: scale(.5) rotate(-45deg) translate(-70%);
    }

    82% {
        transform: scale(.5) rotate(180deg) translate(50%,-50%);
    }

    100% {
        transform: scale(.5) rotate(180deg) translate(-50%,-50%);
    }
}