@import "_variables";

@import "style";

@import "navigation";

@import "hero";

@import "cat-container";

@import "footer";

h1 {
    padding: .5rem;
    border: .25rem dashed $neon-yellow;
    transform: rotate(-5deg);
    margin: 1rem;
    z-index: 10;
    max-width: 30rem;
    margin-bottom: 3rem;
    text-align: center;
    background-color: #222222ee;
    text-shadow: none;
}

.container--byline {
    font-size: 1.25rem;
    padding: .5rem;
    text-align: center;
    max-width: 35rem;
    margin-bottom: 3rem;
    text-decoration: underline;
    text-decoration-color: $neon-pink;
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip-ink: auto;
    text-decoration-style: wavy;
    position: relative;

    &::after {
        content: "Or 2021. God I wish we were already there.";
        position: absolute;
        top: 100%;
        left: 0%;
        background: $black;
        padding: .5rem;
        font-size: 1rem;
        text-align: center;
        color: $neon-yellow;
        width: 100%;
        opacity: .9;
        transform: scale(0);
        transition: transform 100ms ease-in;
        transition-delay: .25s;
        z-index: 100;
    }

    &:hover {
        &::after {
            transform: scale(1) rotate(5deg);
        }
    }
}

.svg-hero-divider,
.svg-what-you-find-divider {
    width: 100%;
    max-height: 12rem;
    height: 8rem;
    background-image: url("../images/wave.svg");
    background-repeat: repeat-x;
    margin-bottom: 2rem;
    margin-top: -.5rem;
}

.svg-what-you-find-divider {
    background-image: url("../images/wave2.svg");
}

.container--about-this-place {
    width: 100%;
    background-color: $neon-blue;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.container--about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;

    h2, p, em, a, span {
        color: $black;
    }

    span {
        text-decoration: underline;
        text-decoration-color: $neon-yellow;
        text-decoration-skip-ink: auto;
        -webkit-text-decoration-skip-ink: auto;
        text-decoration-style: wavy;
        position: relative;

        &::after {
            content: "That's muh braainz on the interwebs.";
            position: absolute;
            top: -6rem;
            left: -50%;
            background: $black;
            padding: .5rem;
            text-align: center;
            color: $neon-yellow;
            width: 10rem;
            opacity: .9;
            transform: scale(0);
            transition: transform 100ms ease-in;
            transition-delay: .25s;
            z-index: 1;
        }

        &:hover {
            &::after {
                transform: scale(1) rotate(5deg);
            }
        }
    }

    h2 {
        margin: 0 1rem 1rem;
        text-align: center;
    }

    p {
        line-height: 1.2;
        padding: .5rem;
        background-color: $neon-pink;
        margin: .5rem 2rem;
        transform-origin: top right;
        width: 95%;
        max-width: 60ch;

        &:nth-of-type(1) {
            transform: rotate(10deg) translateX(1rem);
        }

        &:nth-of-type(2) {
            transform-origin: top left;
            transform: rotate(-7deg) translateX(1rem);
        }

        &:nth-of-type(3) {
            transform: rotate(8deg) translateX(1rem);
        }
    }
}

.container--what-you-will-find {
    @extend .container--about-this-place;
    background-color: $black;
}

.container--what-text {
    @extend .container--about-text;

    h2 {
       color: $neon-blue;
    }

    ul {
        background: linear-gradient(155deg, $neon-blue, $neon-green 75%);
        clip-path: polygon(0% 0%, 97% 0%, 100% 11%, 97% 22%, 100% 33%, 97% 44%, 100% 55%, 97% 66%, 100% 77%, 97% 88%, 100% 100%, 3% 100%, 0% 88%, 3% 77%, 0% 66%, 3% 55%, 0% 44%, 3% 33%, 0% 22%, 3% 11%);
        padding: 1rem;
        list-style: disc;
        border: .5rem solid $neon-pink;
        border-left: none;
        border-right: none;
        margin: 0 1rem;

        li {
            color: $black;
            padding: .5rem;
            margin-left: 2rem;

            &::marker {
                color: $neon-pink;
            }
        }
    }

    a {
        color: $blog-night-violet;
        border-radius: .1rem;
        text-decoration: underline;
        text-decoration-color: $neon-pink;
        text-decoration-skip-ink: auto;
        -webkit-text-decoration-skip-ink: auto;
        text-decoration-style: wavy;
        position: relative;

        &::after {
            position: absolute;
            top: -4rem;
            left: 0;
            background: $black;
            padding: .5rem;
            text-align: center;
            color: $neon-yellow;
            min-width: 5rem;
            opacity: 1;
            font-size: 1rem;
            transform: scale(0);
            transition: transform 100ms ease-in;
            transition-delay: .5s;
            z-index: 100;
            display: block;
        }
    }

    #short {
        text-decoration-color: $about-indigo;

        &::after {
            content: "It's not, really.";
            top: -4rem;
            left: -50%;
        }

        &:hover {
            &::after {
                transform: scale(1) rotate(-2deg);
            }
        }
    }

    #i-am {
        &::after {
            content: "Read to the bottom, if you dare";
            top: -4rem;
            left: -4rem;
        }
        &:hover {
            &::after {
                transform: scale(1) rotate(5deg);
            }
        }
    }
    #i-work {
        &::after {
            content: "Personal, fun projects, really";
            width: 20rem;
            left: -4rem;
        }
        &:hover {
            &::after {
                transform: scale(1) rotate(-5deg);
            }
        }
    }

    #i-change {
        &::after {
            content: "I experiment with new tech using this site";
            left: -4rem;
            width: 200%;
        }
        &:hover {
            &::after {
                transform: scale(1) rotate(-5deg);
            }
        }
    }

    #i-connect {
        &::after {
            content: "hint: answer the question.";
            left: -4rem;
            width: 200%;
        }
        &:hover {
            &::after {
                transform: scale(1) rotate(5deg);
            }
        }
    }
}

@media screen and (min-width: $small) {
    .container--what-text {
        ul {
            clip-path: none;
            border: .5rem solid $neon-pink;

            li {
                transform: skew(10deg);
            }
        }
    }
    
    .container--ul-what-text {
        transform: skew(-10deg);
    }
}
