@import "_variables";

@keyframes load {
	from {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(.7);
	}
}

h1 {
	font-size: 2rem;
}

.landing {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75vh;
	width: 100%;
	animation: $load-background;

	h1 {
		margin: 25vh 0 10vh;
		font-weight: normal;
	}

	p {
		font-size: 1.5rem;
		color: $darker-text;
	}
}

.subheadline-container {
	&:after {
		display: block;
		content: "";
		padding-bottom: 1rem;
		border-bottom: 2px solid $purple;
		transform: scaleX(0);
		animation: load 400ms ease-in-out 750ms forwards;
	}
	
	padding-bottom: .1rem;
	margin-bottom: 4rem;
}

.name {
	font-family: "Playfair Display";
	font-weight: bold;
	background-color: $purple;
	background-clip: text;
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.effective {
	font-family: "Raleway";
	font-weight: bold;
	color: $darker-text;
}