@import "_variables";

.nav-container {
	display: flex;
	justify-content: center;
	width: 100%;
	box-shadow: 0 0 3px 6px $primary-background;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: $primary-background;
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;;
	width: 100%;
	max-width: 25rem;
	padding: 0 2rem;
	height: 2.5rem;
	

	a {
		text-decoration: none;
		color: $primary-text;

		@extend %bottom-border;
	}
}