@import "_variables";

header {
	width: 100%;
	padding: 0.5rem 1rem;
}

.link--logo {
	display: flex;
	align-items: flex-start;
	
	&:hover {
		color: $neon-pink;
	}
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	max-height: 65px;
}

#logo {
	transform-origin: left;
	transform: scale(0.8);
	margin-bottom: .6rem;

	path:hover {
		fill: $neon-pink;
	}
}

@media screen and (min-width: $medium) {
	#logo {
		transform: scale(1);
	}
}

.button--burger-menu {
	transform-origin: right;

	&[data-burger="closed"] {
		transform: scale(1.5);
	}

	&[data-burger="open"] {
		display: none;
	}
	&:hover {
		* {
			fill: $neon-yellow;
		}

		path {
			stroke: $neon-yellow;
		}
	}
}

@media screen and (min-width: $medium) {
	.button--burger-menu[data-burger="closed"] {
		display: none;
	}
}

.ul--burger-menu {
	transform-origin: top right;
	position: absolute;
	top: 0;
	right: 0;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: calc(100vh - 1rem);
	padding: 1rem;
	border: 2px solid $neon-yellow;
	border-radius: $radius;
	z-index: 10;

	&[data-burger="closed"] {
		display: none;
	}

	&[data-burger="open"] {
		display: flex;
	}

	li {
		transition: all 100ms ease-in;
		transform-origin: center;
		margin: 1rem 0;

		&:hover {
			transform: scale(1.1);
		}

		a, button {
			color: $neon-yellow;
			font-size: 1rem;

			&:hover {
				color: $neon-pink;
			}
		}
	}
}

@media screen and (min-width: $medium) {
	.ul--burger-menu {
		&[data-burger] {
			display: flex;
			border: none;
			flex-direction: row;
			height: auto;
			width: auto;
			position: relative;
			padding-right: 0;
			justify-content: flex-end;

			li {
				margin-left: 1rem;

				a, button {
					color: $neon-blue;

					&:hover {
						color: $neon-pink;
					}
				}
			}
		}
		li:first-child {
			display: none;
		}
	}
}

.button--close-burger-menu {
	position: relative;

	button:hover {
		color: $neon-pink;
	}

	&::before,
	&::after {
		content: '[';
		font-size: 2rem;
		color: $neon-yellow;
		position: absolute;
		top: -50%;
		left: -20%;
	}

	&::after {
		content: ']';
		right: -20%;
		left: unset;
	}
}

// .nav-container {
// 	display: flex;
// 	justify-content: center;
// 	width: 100%;
// 	box-shadow: 0 0 3px 6px $primary-background;
// 	position: fixed;
// 	top: 0;
// 	z-index: 100;
// 	background-color: $primary-background;
// }

// .navigation {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: flex-end;;
// 	width: 100%;
// 	max-width: 25rem;
// 	padding: 0 2rem;
// 	height: 2.5rem;
	

// 	a {
// 		text-decoration: none;
// 		color: $primary-text;

// 		@extend %bottom-border;
// 	}
// }