@import "_variables";

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;;
	width: 100%;
	padding: 0 2rem;
	height: 4rem;
	box-shadow: 0 0 5px 10px $primary-background;
	position: fixed;
	top: 0;
	z-index: 100;
	background-color: $primary-background;

	a {
		border: 2px solid transparent;
		text-decoration: none;
		color: $primary-text;

		@extend %bottom-border;
	}
}