@import "_variables";

.portfolio-background-one {
	width: 100%;
	height: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	clip-path: polygon(0 0, 100% 20%, 100% 90%, 0 100%);
	background-color: $teal;
	margin-top: -380px;
}

.project-title-container {
	margin-top: 440px;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	background-color: $card-background;
	border-radius: $b-radius;
	max-width: none;
}

.project-image {
	width: 100%;
	border-radius: 0 0 $b-radius $b-radius;
	z-index: 0;
}

.image-link {
	display: flex;
	transition: opacity 150ms ease-in-out;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		opacity: .7;
	}
}

.jjd {
	margin-top: -90px;
	z-index: 10;
}

.project-text-container {
	display: flex;
	position: static;
	opacity: 1;
	width: 100%;
	background-color: $card-background;
	color: $darker-text;
	border-radius: $b-radius;
}

.project-description-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 66%;
	padding: 1.25rem;
}

.project-main-text-container {
	h3 {
		text-align: center;
		display: flex;
		justify-content: center;

		a {
			text-decoration: none;
			font-family: "Playfair Display";
			font-size: 1.5rem;
			font-weight: normal;
			text-align: center;
			width: auto;
			color: $darker-text;
			margin-bottom: 0;
			transition: all 150ms ease-in-out;

			&::after {
				display: block;
				content: "";
				border-bottom: 2px solid $green;
				padding-bottom: .5rem;
				transform: scaleX(.5);
				transition: all 150ms ease-in-out;
			}
		
			&:hover::after,
			&:focus::after,
			&:active::after {
				transform: scaleX(.70);
				border-color: $red;
			}

			&:focus,
			&:active,
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	p {
		text-align: center;
		font-size: .75rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;
		color: $primary-text;
	}
}

.project-links-container {
	width: 100%;
	display: flex;
	justify-content: space-between;

	a {
		padding: .5rem 1rem;
		background-color: $green;
		border-radius: $b-radius;
		font-size: .75rem;
		color: $primary-text;
		transition: all 100ms ease-in-out;
		cursor: pointer;
		text-decoration: none;
		max-width: 33%;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover,
		&:active,
		&:focus {
			transform: scale(1.1);
			background-color: $red;
		}
	}
}

.project-tech-container {
	width: 34%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.8rem 1rem;
}

.built {
	text-align: center;
	font-size: .9rem;
	margin-bottom: 1rem;
	color: $primary-text;
}

.tech {
	font-size: .75rem;
	text-align: center;
	line-height: 1.4;
	color: $primary-text;
}


@media screen and (min-width: 600px) {
	.project {
		max-width: 30rem;
	}

	.project-main-text-container {
		p {
			font-size: .9rem;
		}
	}
	
	.project-links-container {
		a {
			padding: .5rem 1rem;
			font-size: .75rem;
		}
	}
	
	.project-tech-container {
		padding: 2rem 1.25rem;
	}
	
	.built {
		font-size: 1rem;
	}
	
	.tech {
		font-size: .9rem;
		line-height: 1.3;
	}
}

@media screen and (min-width: 1200px) {
	.project {
		width: 800px;
		max-width: none;
	}

	.project-image {
		width: 800px;
		height: 533px;
	}

	.project-links-container {
		width: 50%;
	}
}