@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.section--blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: $max-width;
    padding: 1rem;

    * {
        margin-bottom: 1rem;
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 1.5rem 0;
        text-align: center;
    }

    h1 {
        color: $neon-yellow;
    }

    a {
        color: $neon-pink;

        &:hover {
            background-color: $neon-yellow;
            color: $about-dark-purple;
        }
    }

    p {
        line-height: 1.4;
        text-align: left;
    }

    code {
        color: $neon-pink;
        width: 100%;
    }

    pre {
        box-shadow: .2rem .2rem 0 $neon-yellow,
            -0.2rem -0.2rem 0 $neon-green;
        padding: .5rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul, ol {
        padding-left: 1rem;
        margin-left: 2rem;

        li {
            color: $neon-yellow;
            margin-bottom: .5rem;
            line-height: 1.4;
        }
    }

    ul {
        margin-left: 0;
        list-style: circle;
    }

    em {
        color: $pastel-orange;
    }


    .date, .estimate {
        width: 100%;
        text-align: left;
        color: $neon-green;
        margin-bottom: .5rem;
    }

    .estimate {
        text-align: right;
    }

    .container--info {
        display: flex;
        justify-content: space-between;
    }
}