@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--projects {
    width: 100%;
    max-width: 60rem;
    padding: 1rem;
    overflow: hidden;

    h1 {
        color: $neon-yellow;
        margin-bottom: 2rem;
        text-align: center;
    }

    * {
        width: 100%;
    }
}

.project-list {
    margin: 1rem 0;

    h4 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.container--details {
    @include card;

    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    details {
        @include card;
        width: 100%;
        text-align: center;
        line-height: 1.5;
        text-align: left;

        p {
            margin-bottom: 1rem;
        }
    }

    summary {
        color: $neon-yellow;
        margin-bottom: 1rem;
    }

    ul {
        margin-bottom: 1rem;
        width: 100%;
        padding-left: 1rem;

        li {
            width: 100%;
            margin-bottom: .5rem;
        }
    }
}

.container--project-img {
    width: 100%;
    max-height: 12rem;
    margin-bottom: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: center;

    img {
        height: 12rem;
        width: auto;
    }
}

