@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--projects {
    width: 100%;
    max-width: 60rem;
    padding: 2rem 1rem;

    h1 {
        color: $neon-yellow;
        margin-bottom: 2rem;
        text-align: center;
    }

    * {
        width: 100%;
    }

    >p {
        max-width: 35rem;
    }
}

@media screen and (min-width: $medium) {
    .project-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            margin: 1rem 2%;
            width: 46%;
        }
    }
}

.project-list {
    margin: 1rem 0;

    h3 {
        text-align: center;
        margin-bottom: 1rem;
        text-shadow: none;
        color: $neon-pink;
        font-family: 'Fira Mono';
        font-weight: normal;
        font-size: 1.5rem;
    }
}

.project-item {
    transform: translateX(0);
    opacity: 1;
    transition: transform 150ms linear, opacity 100ms linear;

    &.hidden {
        transform: translateX(1rem);
        opacity: 0;
    }
}

.container--details {
    @include card($neon-green, $neon-pink);

    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    details {
        @include card($blog-purple, $neon-yellow, 'small');
        width: 100%;
        line-height: 1.5;
        text-align: left;
        margin-left: -.5rem;
        margin-bottom: 1.5rem;
        padding: 0;

        p {
            margin: 1rem 0;
            padding: 0 1rem;
        }

        &:focus,
        &:active,
        & *:focus,
        & *:active {
            outline: .15rem solid $neon-blue;        
        }
    }

    summary {
        color: $neon-yellow;
        padding: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        margin: 1rem 0;
        width: 100%;
        padding-left: 3rem;

        li {
            width: 100%;
            margin-bottom: .5rem;
        }
    }
}

.container--project-img {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: center;

    img {
        height: 12rem;
        width: auto;
        box-shadow: 0 0 1rem .1rem $neon-yellow;
    }
}

.container--skills {
    width: 100%;
    max-width: calc(60rem - 2rem - 2rem);
    margin-bottom: 2rem;

    summary {
        color: $neon-yellow;
        width: 100%;
        display: flex;
        justify-content: center;

        p {
            width: 100%;
            max-width: 35rem;
            padding: 0;
            margin: 0;
            position: relative;
            display: inline list-item;
            list-style-position: inside;

            &::marker {
                color: $neon-yellow;
                margin-right:1rem;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    em {
        color: $neon-green;
        text-decoration: underline;
    }
}

.skills-grid-container {
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
}

@media screen and (min-width: $small) {
    .skills-grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            "markup scripts"
            "markup scripts"
            "devops scripts"
            "devops design"
            "devops collab"
            "data collab"
    }

    [data-cat="Markup & Style"] {
        grid-area: markup;
    }

    [data-cat="Scripting Languages, Frameworks & Libraries"] {
        grid-area: scripts;
    }

    [data-cat="Devops & Testing"] {
        grid-area: devops;
    }

    [data-cat="Design"] {
        grid-area: design;
    }

    [data-cat="Databases"] {
        grid-area: data;
    }

    [data-cat="Collaboration & Productivity"] {
        grid-area: collab;
    }
}

.skill-category {
    @include card($blog-purple, $neon-yellow, 'small'); 
    width: 100%;
    align-self: stretch;
    justify-self: center;
    margin: 0;

    h2 {
        color: $neon-yellow;
        // text-shadow: .1rem .1rem 0 $neon-blue;
        font-size: 1.75rem;
        width: 100%;
    }

    ul {
        list-style: circle inside;
        margin: .5rem 0 0 1rem;
        line-height: 1.5;
    }

    li {
        color: $neon-pink;
    }
}

