@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--projects {
    width: 100%;
    max-width: 60rem;
    padding: 1rem;
    overflow: hidden;

    h1 {
        color: $neon-yellow;
        margin-bottom: 2rem;
        text-align: center;
    }

    * {
        width: 100%;
    }
}

@media screen and (min-width: $medium) {
    .project-list {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        li {
            margin: 1rem 2%;
            width: 46%;
        }
    }
}

.project-list {
    margin: 1rem 0;

    h4 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

.container--details {
    @include card($neon-green, $neon-pink);

    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    details {
        @include card($blog-purple, $neon-yellow, 'small');
        width: 100%;
        line-height: 1.5;
        text-align: left;
        margin-left: -.5rem;
        margin-bottom: 1.5rem;
        padding: 0;

        p {
            margin: 1rem 0;
            padding: 0 1rem;
        }

        &:focus,
        &:active,
        & *:focus,
        & *:active {
            outline: .15rem solid $neon-blue;        
        }
    }

    summary {
        color: $neon-yellow;
        padding: 1rem;

        &:hover {
            cursor: pointer;
        }
    }

    ul {
        margin: 1rem 0;
        width: 100%;
        padding-left: 2rem;

        li {
            width: 100%;
            margin-bottom: .5rem;
        }
    }
}

.container--project-img {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    display: flex;
    justify-content: center;

    img {
        height: 12rem;
        width: auto;
    }
}

