@import "_variables";
@import "style";
@import "navigation";
@import "footer";

.container--writing {
    padding: 2rem .5rem;
    width: 100%;
    max-width: 35rem;

    h1 {
        color: $neon-yellow;
        margin-bottom: 1rem;
    }

    ul {
        width: 100%;
        margin-bottom: 2rem;

    }

    li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        span {
            width: 25%;
            color: $neon-green;
        }

        a {
            width: 75%;
            color: $neon-yellow;
            padding-left: .5rem;
            line-height: 1.4;
        }
    }
}

.year {
    padding: .25rem .5rem;
    margin-bottom: 1rem;
    color: $neon-yellow;
    text-align: center;
    border: .1rem solid $neon-yellow;
    box-shadow: .2rem .2rem 0 $neon-pink;
}