<main>
    <% include ../components/header %>

    <section class="container--404">
        <div class="container--404svg">
            <% include ../images/four.svg %>
            <% include ../images/zero.svg %>
            <% include ../images/four.svg %>
        </div>
        <div class="container--404shadow">
            <% include ../images/404Shadow.svg %>
        </div>
        <h6>The page you requested doesn't exist. Wanna go somewhere else?</h6>
        <p>Here's a list of useful places to visit</p>
        <ul>
            <li><a href="/">The Home Page!</a></li>
            <li><a href="/contact.html">Contact Me!</a></li>
            <li><a href="/introduction-to-this-website-and-blog.html">What is this place?</a></li>
            <li><a href="/writing">The Brain Dump. AKA The Blog</a></li>
        </ul>

    </section>

</main>
<% include ../components/footer %>