<section class='about-section'>
	<div 
		class="about-background-one"
		id="about"
	>

		<div class="card about-card">
			<div class="about-title-container">
				<img id="biopic" alt="Headshot of Dennis Mai" src="imgs/bio.jpeg">
				<h2>About Me</h2>
			</div>

			<p>I’m a full-stack web developer, avid learner, and jiu jiteiro living in Hawaii</p>

			<button id="read-more-button">More About Me</button>
		</div>

	</div>

	<div id="more-about-me">
		<p>Born and raised in Wichita, Kansas to immigrant, Vietnamese parents. Studied abroad in Spain, where I met my bombastic Swiss-French wife. Moved to Zurich, Switzerland, tasted the start-up life, ate lots of cheese and chocolate. Fell in love with Brazilian Jiu Jitsu. Witnessed the birth of my fiery daughter. Moved to Hawaii, where we live and play today. Life is Good.</p>

		<p>When I'm not making the web a better place with fast, accessible sites and applications, I'm taking my daughter to the library, the pool, or the beach. You also might find me reading, hiking, playing the ukulele, learning a new language, or training 
			<a href="http://www.renzogracie.com/jiu-jitsu">
				Brazilian Jiu Jitsu.
			</a>
		</p>
	</div>

	<div class="card enjoy-container">
		<h3>Things I enjoy:</h3>
		<ul>
			<li>Building fast, responsive websites</li>
			<li>Learning new technologies</li>
			<li>Making ideas come to life</li>
			<li>Brazilian Jiu Jitsu</li>
			<li>The 80s</li>
		</ul>
	</div>

	<div class="card tech-container">
		<h3>Technologies I use:</h3>

		<h4>Libraries & Frameworks</h4>
		<p>Express, React, Redux, Redux-Form, Styled-Components</p>
		<p>Bootstrap, Tailwind, SemanticUI</p>
		<p>Nodemailer, Mailgun, SendGrid </p>
		<h4>Markup & Style</h4>
		<p>html, JSX, ejs, markup, CSS3, BEM, scss, less</p>
		<h4>Scripts</h4>
		<p>ES5+ Javascript, Node.js, jQuery</p>
		<h4>Databases</h4>
		<p>MongoDB, mySql, Mongoose, mLab</p>
		<h4>Design</h4>
		<p>Adobe XD, Zeplin, Sketch, Inkscape</p>
		<h4>Tooling & Deployment</h4>
		<p>Git, Github, Bitbucket, Gulp, Webpack, Terminal, Pa11y, CI/CD with Heroku and Netlify</p>
		<h4>Team Productivity</h4>
		<p>Slack, Jira, Salesforce, Skype</p>
	</div>
</section>