

<section id="about">
	<div class="about-background-one">

		<div class="card about-card">
			<div class="about-title-container">
				<img id="biopic" alt="Headshot of Dennis Mai">
				<h2>About Me</h2>
			</div>

			<p>I’m a frontend web developer,  avid learner, and jiu jiteiro living in Hawaii</p>
		</div>

	</div>

	<div class="card enjoy-container">
		<h3>Things I enjoy:</h3>
		<ul>
			<li>Building fast, responsive websites</li>
			<li>Learning new technologies</li>
			<li>Making ideas come to life</li>
			<li>Brazilian Jiu Jitsu</li>
			<li>The 80s</li>
		</ul>
	</div>

	<div class="card tech-container">
		<h3>Technologies I use:</h3>

		<h4>Markup & Style</h4>
		<p>html, JSX, ejs, markup, CSS3, BEM, scss, less</p>
		<h4>Scripts</h4>
		<p>ES5+ Javascript, Node.js, jQuery</p>
		<h4>Frameworks</h4>
		<p>React, Bootstrap, SemanticUI</p>
		<h4>Libraries</h4>
		<p>Redux, Redux-Form, Styled-Components, Nodemailer, Mailgun, SendGrid</p>
		<h4>Databases</h4>
		<p>MongoDB, mySql, Mongoose, mLab</p>
		<h4>Design</h4>
		<p>Adobe XD, Zeplin, Sketch, Inkscape</p>
		<h4>Tooling & Deployment</h4>
		<p>Git, Github, Bitbucket, Gulp, Webpack, Terminal, CI/CD with Heroku and Netlify</p>
		<h4>Team Productivity</h4>
		<p>Slack, Jira, Salesforce</p>
	</div>
</section>