<main>
    <% include ../components/header %>
    <section class="about-me">

        <h1>About Me!</h1>

        <p>Oooo! It's not every day I get to toot my own horn!</p>

        <p>I'm a father and a husband and a life-long student of all things. I'm a self-taught programmer, Brazilian Jiu
            Jitsu Blue Belt, Atheist (capital 'A'), amateur Table Tennis competitor, half-marathon runner, lake-swimmer,
            bear-chasing backpacking guide, and ravenous reader of many genres.</p>

        <p>Here are some random facts about me.</p>

        <ul>
            <li>As of November 16, 2020, my favorite cheese has got to be<a href="https://cheese.com/reblochon/"
                    target="_blank" rel="noopener noreferrer">Reblochon</a>, but a close second is Gruyere (as old as
                they
                make it)</li>
            <li>Currently, my favorite color is Violet (Hex: #EE82EE)</li>
            <li>I love wool.</li>
        </ul>

        <p>Why am I telling this? Because I'm unashamed of who I am, including my faults. And despite it all, I still
            love the world,
            its people, and the wonderful creations that surround us, both natural and man-made.</p>

        <p>The internet used to be a strange, wonderous, inspiring place where we could discover
            others and dive into an endless pool of interesting facts and non-facts.</p>

        <p>The internet used to be weird, too. And while it's still full of information and connections, it's lost some
            of <em>that magic.</em> I, and others, still want to keep that spirit alive.</p>

        <p>And so that is why I am here, hand-coding this website and blog, putting my own personal touch and taste into
            everything. I hope this place inspires you. I hope it weirds you out a bit. I hope it delights you.</p>

        <p>For more information about me, you can use the links in <a href="#the-footer">The Footer</a> or <a
                href="contact.html">Connect with me by email</a></p>

        <p>Thanks for reading.</p>

        <p>Here's another random picture of me</p>

        <p>Oh, you're still here? Okay, I'll tell you more.</p>

        <p>I was born (and raised) in Wichita, Kansas to Vietnamese refugees. English was my second language, but not my
            last. I studied Economics and Spanish at Wichita State University and studied abroad for 1 year in Murcia,
            Spain, where I met my bombastic Swiss wife. I graduated, moved to Switzerland, learned German and French,
            got married, and started our family in Zurich. We got bored, so we moved to Kauai, Hawaii. Now, you can find
            us romping in the snow and lakes back in Switzerland.</p>



    </section>
</main>
<% include ../components/footer %>