<% include ../components/head %>
<% include ../components/header %>
<main>
    <section class="container--change-log">
        <h1>The Change Log</h1>
        <ul class="list">
            <li>
                <p>Spring 2021</p>
                <ul>
                    <li>Add an image in a blog post -> set up the posts to accept images from the specified directory</li>
                    <li>Update the <a href="https://github.com/sartoriusrex/portfolio-v2#change-log">readme</a> so others can learn how I made this.</li>
                    <li>Add support for pa11y, which is just the beginning of making this site more accessible</li>
                </ul>
            </li
            <li>
                <p>Winter 2020</p>
                <p>Second iteration, what you currently see today</p>
                <p>Multi-page static site built with just ejs, webpack, html, css, and vanilla js. Nothing special, but
                    a piece of work for me to build. It's not perfect, but it's mine.</p>
                <p>Features that I added:</p>
                <ul>
                    <li>Blog! With dates, estimated reading times and markdown support</li>
                    <li>Multiple Pages!</li>
                    <li><a href='404.html'>404 page</a></li>
                    <li>GSAP animations!</li>
                    <li>LOTS OF ANIMATIONS! I got a bit carried away.</li>
                    <li>Add back a <a href="/projects.html#skillz">Skillz</a> section and do some small animations and
                        styling with it.</li>
                </ul>
            </li>
            <li>
                <p>Fall 2019</p>
                <p>First PRODUCTION READY Portfolio</p>
                <p>A Static, single page application written in ejs and built and optimized using webpack. It was
                    decently fast (97% lighthouse, 100% mobile), but very corporate-ish. It was simple. The code is
                    available <a href="https://github.com/sartoriusrex/portfolio-v2/tree/iteration-1" target="_blank"
                        rel="noopener noreferrer">here.</a></p>
            </li>
            <li>
                <p>Summer 2019</p>
                <p>First Portfolio!</p>
                <p>Written in React and never published.</p>
                <p>While I was no beginner, I was not yet good enough with React Hooks to make it work the way I wanted
                    to, and the way I had styled the page wasn't professional enough, in my opinion, to garner any of
                    the attention I needed at the time. The code is available <a
                        href="https://github.com/sartoriusrex/portfolio" target="_blank"
                        rel="noopener noreferrer">here</a>. I might revisit it one day, but for now, it's in the history
                    books.</p>
            </li>
        </ul>
    </section>
</main>
<% include ../components/footer %>

</html>