
<main>
<% include ../components/header %>
<section class="section--blog">
<div class="container--info">
<p class="date">Updated: 11/25/2020</p>
<p class="estimate">Length: 3 minutes</p>
</div>
 <h1 id="chokes-and-strangulations---my-favorite-ways-to-safely-submit-someone">Chokes and Strangulations - My Favorite Ways to Safely Submit Someone</h1>
<p>This may sound weird (or it won't, if you're familiar with Jiu Jitsu), but I have a very specific list of favorite chokes for Jiu Jitsu.</p>
<p>In order, they have GOT to be:</p>
<ol>
<li>The Ezekiel Choke</li>
<li>The Loop Choke</li>
<li>The Rear Naked Choke</li>
<li>The Bow-and-Arrow Choke</li>
<li>The Anaconda</li>
<li>The D'arce</li>
<li>The North-South Choke</li>
<li>The Peruvian Necktie</li>
<li>The Arm-in Guillotine</li>
<li>THE MOTHER'S MILK
<em>BONUS</em> The Triangle Choke. (This should be #1, but it's such a staple. C'mon!)</li>
</ol>
<p>I'll go into the details for each one below, but suffice it to say that this is a non-exhaustive list of awesome chokes everybody doing BJJ should know.</p>
<h2 id="summary">Summary</h2>
<p>If you haven't yet, go start Brazilian Jiu Jitsu. It isn't for everyone, but if you're comfortable in uncomfortable situations, enjoy being rowdy, and like bonding with people by simulating murder in pajamas, then it's for you. The choking isn't bad either.</p> 
</section>
</main>
<% include ../components/footer %>
