<footer class="footer">
	<div class="icon-container">
		<a 
			id="resume"
			href="imgs/mai_resume.pdf"
			rel="noopener noreferrer"
			target="_blank"
		>
			<img 
				alt="Resume"
				id="pdf-icon"
				src="imgs/pdf.svg"
			>
		</a>
		<a
			id="linkedin"	
			href="https://www.linkedin.com/in/dmaidev/"
			rel="noopener noreferrer"
			target="_blank"
		>
			<img 
				alt="LinkedIn Link"
				id="linkedin-icon"
				src="imgs/linkedin.svg"
			>
		</a>
		<a 
			id="github"
			href="https://github.com/sartoriusrex"
			rel="noopener noreferrer"
			target="_blank"
		>
			<img 
				alt="Github Link"
				id="github-icon"
				src="imgs/github.svg"
			>
		</a>
		<a 
			id="stackoverflow"
			href="https://stackoverflow.com/users/11639750/sartoriusrex"
			rel="noopener noreferrer"
			target="_blank"
		>
			<img 
				alt="Stackoverflow Link"
				id="stackoverflow-icon"
				src="imgs/stackoverflow.svg"
			>
		</a>
		<a 
			id="skype"
			href="skype:dennis_mai?chat"
			rel="noopener noreferrer"
			target="_blank"
		>
			<img 
				alt="Skype Link"
				id="skype-icon"
				src="imgs/skype.svg"
			>
		</a>
	</div>

	<p>Copyright 2019 Dennis Mai | All rights reserved</p>
</footer>

</body>
</html>