
<main>
<% include ../components/header %>
<section class="section--blog">
 <h1 id="how-i-made-this-blog">How I Made This Blog</h1>
<p>First, this is a custom rolled blog, made with just ejs templates, webpack, scss and vanilla javascript. I might add typescript support later, but with the simplicity of this site, it might cost more in time to set up and run than it does in catching errors.</p> 
</section>
</main>

<% include ../components/footer %>
