
<% include ../components/head %>
<% include ../components/header %>
<main>
<section class="section--blog">
<div class="container--info">
<p class="date">Updated: 3/30/2021</p>
<p class="estimate">Length: 13 minutes</p>
</div>
 <h1 id="how-i-usually-learn-new-tech">How I Usually Learn New Tech</h1>
<p><img src="imgs/lucas-benjamin-wQLAGv4_OYs-unsplash.jpg" alt="Alt text" title="Photo by Lucas Benjamin"></p>
<figcaption>Photo by Lucas Benjamin</figcaption>
<p>I mentioned in a previous post how important it is to keep learning to both deepen and broaden your skillset as a programmer. In that same post, I made it extra clear that we have to choose what we want to learn wisely. But as it turns out, there's at least one solid method of learning new technology.</p>
<p>Getting paid to do it, duh.</p>
<p>Literally, companies pay you to <em>learn</em> how to build stuff. And either you or somebody you know (your boss, colleague, etc.) will choose <em>what</em> to build that stuff with. So you can do the following:</p>
<ol>
<li>
<p>Choose or influence the decision to use the tech you want to learn, or</p>
</li>
<li>
<p>Find a company using a technology you don't already know about but really really want to get ridiculously good at, and then go work for them</p>
</li>
</ol>
<p>I am by no means a senior developer, but in my relatively short career, I have with luck and wherewithall done both. I can assure you, no matter your seniority, that you can do the same.</p>
<h2 id="choose-your-tech">Choose Your Tech</h2>
<p>Choosing our technologies has major repercussions for businesses and colleagues. It should neither be taken lightly nor alone, if possible.</p>
<p>That said, sometimes choosing the tech stack is trivial. For example, if you are in a major tech hub and the decision you need to make it what frontend framework you want to use. You have certain criteria that rule out all but the big 3: Angular, React, or Vue. After weighing the options, you and the team conclude that using any of them would work equally. What would you choose?</p>
<p>All things being equal, <em>I</em> would choose the framework that I am least familiar with, just to scratch that itch, to <em>widen</em> my skill set.</p>
<p>Others might choose to use the tech they are most comfortable with. That is also a sound decision, and is a sure way to <em>deepen</em> our skill set.</p>
<p>You have to make the decision for yourself whether either widening or deepening is more important for your career and personal growth.</p>
<h2 id="find-the-company-using-the-tech">Find the Company Using the Tech</h2>
<p>This is how I learned (am learning) Vue.js. I found a company that ticked all the boxes, INCLUDING the box that scratches my itch for learning something new, and that made things even better.</p>
<p>Of course, it helps that I already know Angular and React. Javascript is javascript. (right?). And this is key in learning new...well, anything, really. We can leverage our past experience to learn new things if they are similar in the right ways. </p>
<h2 id="leveraging">Leveraging</h2>
<p>Given that we can learn new things through using what we've learned in the past, we have to be careful and tread lightly. Sometimes we can bring patterns with us that don't serve our purpose in learning something new. </p>
<p>Take, for example, learning regular Javascript coming from a C# background. C# is an object-oriented (OO) language, so it uses OO conventions, such as private variables, inheritance, etc.</p>
<p>Javascript can implement to some extent the features of OO languages using class syntax. But it is <strong>not</strong> an OO language. Developers who are used to coding in OO languages can get by just fine using the same patterns they're used to, but there will be tricky parts that don't behave as they normally would.</p>
<p>If you're learning Javascript coming from an OO language, immerse yourself in the "Javascript" way of doing things, meaning <em>using</em> prototypical inheritance and function programming patterns. Everything is a function, so work with that -- not against that.</p>
<p>Like in learning any language, natural or otherwise, it is best to IMMERSE yourself completely in the <em>culture</em> of the language to learn it as it was meant to be used. Let go of the past and embrace what's in front of you.</p>
<p>You cannot fill a glass that's already full, as the saying goes.</p>
<h2 id="summary">Summary</h2>
<p>So go out there and learn new things. Seek out opportunities to deepen and widen your skills, but don't do it with half an ass. Don't bring baggage that will weigh you down. When you learn something, learn it right using the conventions.</p> 
</section>
</main>
<% include ../components/footer %>
</html>
