<% include ../components/head %>
<% include ../components/header %>
<% include ../components/hero %>
<% include ../components/cat-container %>
<main>

    <h1>
        Welcome Back to the Weird Web
    </h1>
    <div class="container--byline">
        <p>Just sit back, relax, and enjoy this site like it's 1999.</p>
    </div>
    <div class="container--about-this-place">
        <div class="svg-hero-divider"></div>
        <div class="container--about-text">
            <h2>
                About This Place
            </h2>
            <p id="my-corner">
                This is my little corner of the web -- my digital garden <a
                    href="https://maggieappleton.com/garden-history" target="_blank" rel="noopener noreferrer">[0]
                </a><a href="https://joelhooks.com/digital-garden" target="_blank" rel="noopener noreferrer">[1]
                </a>.
            </p>
            <p id="explore">I come here to explore and share my thoughts, ideas, and what I'm learning.</p>
            <p id="hope">Hopefully you find a bit of <em>joy & wilderness</em> in my
                <span>
                    cyber cranny.
                </span>
            </p>
        </div>
    </div>
    <div class="container--what-you-will-find">
        <div class="svg-what-you-find-divider"></div>
        <div class="container--what-text">
            <h2>What You'll Find Here</h2>
            <div class="container--ul-what-text">
                <ul>
                    <li>A <span id="short">short*</span> explanation of <a id="i-am" href="/about.html">who I
                            am.</a></li>
                    <li><a id="i-work" href="/projects.html">Projects</a> I have or am currently working on.</li>
                    <li>Some of my <a id="i-write" href="/writing.html">writing</a>. Topics range from Society &
                        Culture,
                        Technology,
                        Brazilian Jiu Jitsu, What
                        I'm
                        Learning, and more.</li>
                    <li>
                        A <a id="i-change" href="/changelog.html">Change Log </a> of this site.
                    </li>
                    <li>Finally, a way to
                        <a id="i-connect" href="/contact.html">Contact Me.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<% include ../components/footer %>

</html>