
<main>
<% include ../components/header %>
<section class="section--blog">
 <h1 id="introduction-to-this-blog">Introduction to this Blog</h1>
<p>Hello! My name is Dennis Mai. I'm a husband, father, developer, tinkerer, creative, and jiu-jiteiro. In that order. I'm a lot of other things, too, and you'll figure a lot of that out if you read more. But that's sufficient to start.</p>
<p>I write about technology, culture, society, Brazilian Jiu Jitsu, Fatherhood, being a husband (husband...hood?), and other things, too.</p>
<p>I've made this blog--and my personal website--as unique to me as possible. Some times that means the site won't load quickly. Some times that means it's not 100% accessible. And some times it means it will just weird you out a little bit. Or a lot. Anyway, it's a work in progress. I try to make sure everybody can digest my content, but, you know what? I won't be able to make everyone happy. And that's okay. That's life. I'm sorry if I offend any of you (truly, I am).</p>
<p>That said, you can always send me feedback via email.</p>
<p>Enjoy the tour, and and I hope you'll be inspiried to make the web a little bit better. And a little bit weirder.</p> 
</section>
</main>
<% include ../components/footer %>
