
<% include ../components/head %>
<% include ../components/header %>
<main>
<section class="section--blog">
<div class="container--info">
<p class="date">Updated: 4/2/2021</p>
<p class="estimate">Length: 4 minutes</p>
</div>
 <h1 id="introduction-to-this-website-and-blog">Introduction to this Website and Blog</h1>
<p><img src="jon-tyson-co1xvjqNjxU-unsplash.jpg," alt="Alt text" title="Photo by Jon Tyson"></p>
<figcaption>Photo by Jon Tyson</figcaption>
<p>Greetings web <a href="#note1">surfer*</a> and welcome back to the weird web!</p>
<p>This website is a work of <em>self expression</em>. Here I lay to bare my thoughts, ideas, my learning and doubt.</p>
<p>It's also a homage to the primordial <a href="https://indieweb.org/">indie web</a> that makes the internet such a fascinating place. </p>
<p>This website is also my own custom blog. It is far from perfect, but it's mine. I write about Technology, Society &#x26; Culture, Brazilian Jiu Jitsu, Fatherhood, being a husband (Husband...hood?), and lots of other things.</p>
<h2 id="my-promise-to-you">My Promise to You</h2>
<p>This place is a work in progress. Right now, it's not 100% accessible, but I will continue to make it as accessible to as many people as I can.</p>
<p>That said, you can always send me feedback via email.</p>
<p>Enjoy the tour, and and I hope you'll be inspired to make the web a little bit better. And a little bit weirder.</p>
<p><a href="#introduction-to-this-website-and-blog">Back to the top</a></p>
<p><em><a name="note1"></a> * When the internet was first becoming popular, it was called the "World Wide Web", and those browsing the internet then were "surfing the web." Good times.</em></p> 
</section>
</main>
<% include ../components/footer %>
</html>
