
<% include ../components/head %>
<% include ../components/header %>
<main>
<section class="section--blog">
<div class="container--info">
<p class="date">Updated: 4/2/2021</p>
<p class="estimate">Length: 6 minutes</p>
</div>
 <h1 id="jiu-jitsu-chokes-and-strangulations---my-favorite-ways-to-safely-submit-someone">Jiu Jitsu Chokes and Strangulations - My Favorite Ways to Safely Submit Someone</h1>
<p><img src="imgs/nathan-dumlao-AsCCBr7J-XM-unsplash.jpg," alt="Alt text" title="Photo by Nathan Dumiao"></p>
<figcaption>Photo by Nathan Dumiao</figcaption>
<p>This may sound weird (or it won't, if you're familiar with Jiu Jitsu), but I have a very specific list of favorite chokes for Jiu Jitsu.</p>
<p>In order, they have GOT to be:</p>
<ol>
<li><a href="https://www.youtube.com/watch?v=fuvgllnmp3g">The Ezekiel Choke</a></li>
<li><a href="https://www.youtube.com/watch?v=9Y6MmSR6LjU">The Loop Choke</a></li>
<li><a href="https://www.youtube.com/watch?v=l8-JI7NND3E">The Rear Naked Choke</a></li>
<li><a href="https://www.youtube.com/watch?v=yrUXIujVGTM">The Bow-and-Arrow Choke</a></li>
<li><a href="https://www.youtube.com/watch?v=A4LQMLYJ9yo">The Anaconda</a></li>
<li><a href="https://www.youtube.com/watch?v=0Dx5Ecj2yV4">The D'arce</a></li>
<li><a href="https://www.youtube.com/watch?v=VkI7wuhN2Ps">The North-South Choke</a></li>
<li><a href="https://www.youtube.com/watch?v=kxCCrUACAwM">The Peruvian Necktie</a></li>
<li><a href="https://www.youtube.com/watch?v=raUOzIkDt5k">The Arm-in Guillotine</a></li>
<li><a href="https://www.youtube.com/watch?v=2uAzRUGtnkA">THE MOTHER'S MILK</a></li>
</ol>
<p><em>BONUS</em> <a href="https://www.youtube.com/watch?v=waM29uvV1Wo">The Triangle Choke.</a> (This should be #1, but it's such a staple. C'mon!)</p>
<p>I'll let the experts explain the details. Needless to say, there are countless resources for perfecting each technique, and you won't find them on youtube.</p>
<p><strong>PRACTICE WITH SAFETY. I AM NOT LIABLE FOR ANY INJURY CAUSED. I CAN'T BELIEVE I HAVE TO SAY THAT</strong></p>
<h2 id="summary">Summary</h2>
<p>If you haven't yet, go start Brazilian Jiu Jitsu. It isn't for everyone, but if you're comfortable in uncomfortable situations, enjoy being rowdy, and like bonding with people by simulating murder in pajamas, then it's for you. The choking isn't bad either.</p> 
</section>
</main>
<% include ../components/footer %>
</html>
