 <section id="portfolio">

	<div class="portfolio-background-one">
		<div class="card project-title-container">
			<h2>Projects</h2>
			<p>A curated list of projects I'ved worked on</p>
		</div>
	</div>
	
	<div class="card project jjd">
		<img id="jjd" class="project-image lazy" alt="Jiu Jitsu Distilled Application" >

		<div class="project-text-container">
			<div class="project-description-container">
				<div class="project-main-text-container">
					<h3 class="project-h3">
						<a 
							href="http://jjd-client-v1.herokuapp.com"
							class="project-a"
							rel="noopener noreferrer"
							target="_blank"
						>Jiu Jitsu Distilled</a>
					</h3>

					<p>Full stack Brazilian Jiu Jitsu technique and sequence organizer.</p>
				</div>
				
				<div class="project-links-container">
					<a 
						href="http://jjd-client-v1.herokuapp.com"
						rel="noopener noreferrer" 
						target="_blank"
					>Live</a>
					<a
						href="https://github.com/sartoriusrex/jjd-client"
						rel="noopener noreferrer" 
						target="_blank"
					>Github</a>
				</div>
			</div>

			<div class="project-tech-container">
				<p class="built">Built with:</p>
				<p class="tech">React, Redux, React-Router, React-Form, MongoDB, Mongoose, Node, Express, Axios, Bootstrap, Mailgun, JWT, bcryptjs, Heroku, AdobeXD</p>
			</div>
		</div>
	</div>

	<div class="card project">
		<img id="usdt" class="project-image lazy" alt="U.S. Department of Truth Application" >

		<div class="project-text-container">
			<div class="project-description-container">
				<div class="project-main-text-container">
					<h3 class="project-h3">
						<a 
							href="https://usdt-satire.herokuapp.com"
							class="project-a"
							rel="noopener noreferrer"
							target="_blank"
						>US Department of Truth</a>
					</h3>

					<p>Full stack, no front-end framework, fake news and government satire website.</p>
				</div>
				
				<div class="project-links-container">
					<a 
						href="https://usdt-satire.herokuapp.com"
						rel="noopener noreferrer" 
						target="_blank"
					>Live</a>
					<a
						href="https://github.com/sartoriusrex/USDT"
						rel="noopener noreferrer" 
						target="_blank"
					>Github</a>
				</div>
			</div>

			<div class="project-tech-container">
				<p class="built">Built with:</p>
				<p class="tech">Node, Express, EJS, MongoDB, Mongoose, PassportJS, Nodemailer, SendGrid, scss, BEM, gulp, Heroku</p>
			</div>
		</div>
	</div>

	<div class="card project">
		<img id="raven" class="project-image lazy" alt="Raven Frontend React Implementation" >

		<div class="project-text-container">
			<div class="project-description-container">
				<div class="project-main-text-container">
					<h3 class="project-h3">
						<a 
							href="https://raven-landing-page.netlify.com/"
							class="project-a"
							rel="noopener noreferrer"
							target="_blank"
						>Raven</a>
					</h3>

					<p>Fully responsive React implementation of Sketch Design, which was only spec'ed for layouts 1440px wide.</p>
				</div>
				
				<div class="project-links-container">
					<a
						href="https://raven-landing-page.netlify.com/"
						rel="noopener noreferrer" 
						target="_blank"
						>Live</a>
					<a
						href="https://github.com/sartoriusrex/raven-landing-page"
						rel="noopener noreferrer" 
						target="_blank"
					>Github</a>
				</div>
			</div>

			<div class="project-tech-container">
				<p class="built">Built with:</p>
				<p class="tech">React, Hooks, Sketch, Zeplin, Netlify, (And Heroku)</p>
			</div>
		</div>
	</div>

</section>