<section id="portfolio">
	<div class="portfolio-background-one">
		<div class="card project-title-container">
			<h2>Projects</h2>
			<p>A curated list of projects I'ved worked on</p>
		</div>
	</div>
	
	<div class="card project jjd">
		<img id="jjd" alt="Jiu Jitsu Distilled Application">

		<div class="project-text-container">
			<div class="project-description-container">
				<h3>Jiu Jitsu Distilled</h3>

				<p></p>
				<div class="project-links-container">
					<a>Live</a>
					<a>Github</a>
				</div>
			</div>

			<div class="project-tech-container">
				<p class="built">Built with:</p>
				<p class="tech"></p>
			</div>
		</div>
	</div>
</section>