<main>
    <% include ../components/header %>
    <% var projects = [
        {  
            name: 'Polyglotist',
            description: 'A web application for intermediate language learners to improve reading fluency and vocabulary. Users can read foreign language newspapers, as well as look up words and phrases and save them. Looking up and saving can be done in a total of 3 clicks, a drastic speed increase from leaving the app or window to look up and document a word. This helps learners improve fluency with increasing focus on the text at hand instead of abruptly switching contexts.',
            links: [
                {github: 'https://github.com/sartoriusrex/polyglotist'}
            ],
            images: [
            ],
            built: 'Node, Express, Postgresql, React, Typescript, Docker, Webpack, SCSS, Puppeteer, Jest, React-Testing-Library, Google Cloud API, JWT'
        },
        {  
            name: 'Jiu Jitsu Distilled',
            description: '',
            links: [
                {github: 'https://github.com/sartoriusrex/jjd-client'}
            ],
            images: [
            ],
            built: ''
        },
        {  
            name: 'US Department of Truth',
            description: '',
            links: [
                {github: 'https://github.com/sartoriusrex/USDT'}
            ],
            images: [
            ],
            built: ''
        },
        {  
            name: 'This Portfolio!',
            description: '',
            links: [
                {github: 'https://github.com/sartoriusrex/portfolio-v2'}
            ],
            images: [
            ],
            built: ''
        },
    ] %>

    <section class="container--projects">
        <h1>Some Projects</h1>

        <p>Here's a short list of projects I have or am currently working on. Feel free to step through the code, make
            some pull requests, or visit the live sites.</p>

        <p>Be patient, some of them are asleep on a Heroku Dyno.</p>

        <ul>
            <% projects.forEach( function(project) { %>
            <li>
                <h4><%= project.name %></h4>
            </li>
            <% }) %>
        </ul>
    </section>

</main>
<% include ../components/footer %>