<% var projects = [] %>

<main>
    <% include ../components/header %>

    <section class="container--projects">
        <h1>Some Projects</h1>

        <p>Here's a short list of projects I have or am currently working on. Feel free to step through the code, make
            some pull requests, or visit the live sites.</p>

        <p>Be patient, some of them are asleep on a Heroku Dyno.</p>

        <ul>
            <% projects.forEach( function(project) { %>
            <li>
                <h4><%= project.name %></h4>
            </li>
            <% }) %>
        </ul>
    </section>

</main>
<% include ../components/footer %>