<main>
    <% include ../components/header %>
    <section class="section--contact">
        <h1>
            Hypothetical Situation
        </h1>
        <label for="fight-choices">Who would win in a fight against Bruce Lee: Jet Li or Jackie Chan?</label>
        <select name="fight-choices" id="fight-choices">
            <option value="blank">Don't select this option</option>
            <option value="neither">Neither</option>
            <option value="jet-li">Jet Li</option>
            <option value="jackie-chan">Jackie Chan</option>
            <option value="who">Who?</option>
        </select>
        <a href="mailto: dmai.developer@gmail.com?subject=''">
            <% include ../images/email-sig.svg %>
        </a>
    </section>
</main>

<% include ../components/footer %>