<main>
    <% include ../components/header %>
    <section class="section--contact">
        <h1>
            Just e-mail Please. But first, a quick question.
        </h1>
        <form action="">
            <fieldset>
                <legend for="fight-choices">Who would win in a fight against Bruce Lee: Jet Li or Jackie Chan?</legend>
                <input type="radio" id="stupid" name="answer">
                <label for="stupid">Stupid question (select this if you don't want to reach me)</label>

                <input type="radio" id="jet-li" name="answer">
                <label for="jet-li">Jet Li</label>

                <input type="radio" id="jackie-chan" name="answer">
                <label for="jackie-chan">Jackie Chan</label>

                <input type="radio" id="neither" name="answer">
                <label for="neither">Neither</label>

                <input type="radio" id="who" name="answer">
                <label for="who">Who?</label>
            </fieldset>
            <button type='submit' id='submit-answer'>That's my final answer </button>
        </form>
        <!-- <a id="email-link" href="mailto: dmai.developer@gmail.com?subject=''">
            <% include ../images/email-sig.svg %>
        </a> -->
    </section>
</main>

<% include ../components/footer %>