<main>
    <% include ../components/header %>
    <% include ../components/hero %>

    <h1>
        Welcome Back to the Weird Web
    </h1>
    <div class="container--byline">
        <p>Just sit back, relax, and enjoy this site like it's 1999.</p>
    </div>
    <div class="container--about-this-place">
        <?xml version="1.0" standalone="no"?>
        <svg id="svg--hero-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#222222" fill-opacity="1"
                d="M0,288L0,128L53.3,128L53.3,256L106.7,256L106.7,224L160,224L160,224L213.3,224L213.3,160L266.7,160L266.7,96L320,96L320,32L373.3,32L373.3,256L426.7,256L426.7,288L480,288L480,128L533.3,128L533.3,160L586.7,160L586.7,128L640,128L640,224L693.3,224L693.3,288L746.7,288L746.7,224L800,224L800,0L853.3,0L853.3,96L906.7,96L906.7,64L960,64L960,160L1013.3,160L1013.3,96L1066.7,96L1066.7,192L1120,192L1120,320L1173.3,320L1173.3,128L1226.7,128L1226.7,128L1280,128L1280,96L1333.3,96L1333.3,32L1386.7,32L1386.7,288L1440,288L1440,0L1386.7,0L1386.7,0L1333.3,0L1333.3,0L1280,0L1280,0L1226.7,0L1226.7,0L1173.3,0L1173.3,0L1120,0L1120,0L1066.7,0L1066.7,0L1013.3,0L1013.3,0L960,0L960,0L906.7,0L906.7,0L853.3,0L853.3,0L800,0L800,0L746.7,0L746.7,0L693.3,0L693.3,0L640,0L640,0L586.7,0L586.7,0L533.3,0L533.3,0L480,0L480,0L426.7,0L426.7,0L373.3,0L373.3,0L320,0L320,0L266.7,0L266.7,0L213.3,0L213.3,0L160,0L160,0L106.7,0L106.7,0L53.3,0L53.3,0L0,0L0,0Z">
            </path>
        </svg>
        <div class="container--about-text">
            <h2>
                About This Place
            </h2>
            <p>
                This is a personal place, my own little corner of the web, my digital garden.
            </p>
            <p>I come here to explore and share my thoughts, ideas, and what I'm learning.</p>
            <p>Hopefully you -- <em>brave explorer</em> -- find a bit of joy here.</p>
        </div>
    </div>
    <div class="container--what-you-will-find">
        <?xml version="1.0" standalone="no"?>
        <svg id="svg--about-divider" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#08F7FE" fill-opacity="1"
                d="M0,0L0,256L36.9,256L36.9,64L73.8,64L73.8,128L110.8,128L110.8,64L147.7,64L147.7,256L184.6,256L184.6,96L221.5,96L221.5,160L258.5,160L258.5,32L295.4,32L295.4,224L332.3,224L332.3,288L369.2,288L369.2,128L406.2,128L406.2,128L443.1,128L443.1,96L480,96L480,32L516.9,32L516.9,192L553.8,192L553.8,160L590.8,160L590.8,96L627.7,96L627.7,96L664.6,96L664.6,288L701.5,288L701.5,160L738.5,160L738.5,288L775.4,288L775.4,128L812.3,128L812.3,192L849.2,192L849.2,128L886.2,128L886.2,160L923.1,160L923.1,256L960,256L960,256L996.9,256L996.9,96L1033.8,96L1033.8,32L1070.8,32L1070.8,160L1107.7,160L1107.7,32L1144.6,32L1144.6,96L1181.5,96L1181.5,128L1218.5,128L1218.5,256L1255.4,256L1255.4,320L1292.3,320L1292.3,64L1329.2,64L1329.2,128L1366.2,128L1366.2,256L1403.1,256L1403.1,192L1440,192L1440,0L1403.1,0L1403.1,0L1366.2,0L1366.2,0L1329.2,0L1329.2,0L1292.3,0L1292.3,0L1255.4,0L1255.4,0L1218.5,0L1218.5,0L1181.5,0L1181.5,0L1144.6,0L1144.6,0L1107.7,0L1107.7,0L1070.8,0L1070.8,0L1033.8,0L1033.8,0L996.9,0L996.9,0L960,0L960,0L923.1,0L923.1,0L886.2,0L886.2,0L849.2,0L849.2,0L812.3,0L812.3,0L775.4,0L775.4,0L738.5,0L738.5,0L701.5,0L701.5,0L664.6,0L664.6,0L627.7,0L627.7,0L590.8,0L590.8,0L553.8,0L553.8,0L516.9,0L516.9,0L480,0L480,0L443.1,0L443.1,0L406.2,0L406.2,0L369.2,0L369.2,0L332.3,0L332.3,0L295.4,0L295.4,0L258.5,0L258.5,0L221.5,0L221.5,0L184.6,0L184.6,0L147.7,0L147.7,0L110.8,0L110.8,0L73.8,0L73.8,0L36.9,0L36.9,0L0,0L0,0Z">
            </path>
        </svg>
        <div class="container--what-text">
            <h2>What You'll Find Here</h2>
            <ul>
                <li>A short explanation of who and why I am</li>
                <li>Projects I have or am currently working on</li>
                <li>Some of my writing. Topics range from Society & Culture, Technology, Brazilian Jiu Jitsu, What I'm
                    Learning, and more.</li>
                <li>A change log of this site.</li>
                <li>Finally, a way to contact me.</li>
            </ul>
        </div>
    </div>
    <div class="container--weird-web">
        <h3>
            <a href="">
                Weird Wide Webring <span>.net</span>
            </a>
        </h3>
        <ul>
            <li><a href="">Previous</a></li>
            <li><a href="">Next</a></li>
            <li><a href="">Random</a></li>
            <li><a href="">Join</a></li>
            <li><a href="">List</a></li>
        </ul>
    </div>
</main>
<footer>
    <ul>
        <li><a href="">Resume</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">StackOverflow</a></li>
    </ul>
    <h3>Copyright <% let ts = new Date(); %> <%= ts.getFullYear() %> Dennis Mai | All Rights Reserved</h3>
</footer>