<main>
    <% include ../components/header %>
    <% include ../components/hero %>

    <h1>
        Welcome Back to the Weird Web
    </h1>
    <div class="container--byline">
        <p>Just sit back, relax, and enjoy this site like it's 1999.</p>
    </div>
</main>