<main>
    <% include ../components/header %>
    <% include ../components/hero %>

    <h1>
        Welcome Back to the Weird Web
    </h1>
    <div class="container--byline">
        <p>Just sit back, relax, and enjoy this site like it's 1999.</p>
    </div>
    <div class="container--about-this-place">
        <div class="svg-hero-divider"></div>
        <div class="container--about-text">
            <h2>
                About This Place
            </h2>
            <p>
                This is my little corner of the web -- my digital garden <a
                    href="https://maggieappleton.com/garden-history">[0]
                </a><a href="https://joelhooks.com/digital-garden">[1]
                </a>.
            </p>
            <p>I come here to explore and share my thoughts, ideas, and what I'm learning.</p>
            <p>Hopefully you -- <em>brave explorer</em> -- find a bit of joy & wilderness in my
                <span>cyber cranny.</span>
            </p>
        </div>
    </div>
    <div class="container--what-you-will-find">
        <div class="svg-what-you-find-divider"></div>
        <div class="container--what-text">
            <h2>What You'll Find Here</h2>
            <div class="container--ul-what-text">
                <ul>
                    <li>A short explanation of <a href="/about">who and why I am.</a></li>
                    <li><a href="/projects">Projects</a> I have or am currently working on.</li>
                    <li>Some of my <a href="/writing">writing</a>. Topics range from Society & Culture, Technology,
                        Brazilian Jiu Jitsu, What
                        I'm
                        Learning, and more.</li>
                    <li>
                        A <a href="/changelog">Change Log </a> of this site.
                    </li>
                    <li>Finally, a way to
                        <a href="/connect">Contact Me.</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<% include ../components/footer %>