<div class="container--interactive-cat">
    <div class="star-background">
        <% include ../images/star-background.svg %>
        <div class="talk-box">
            <% include ../images/cat-dialog.svg %>
            <div class="container--talk-box-text">
                <p id='cat-message'>Thank you for subscribing to Cat Facts!</p>
                <p id='cat-fact'></p>
                <div class="container--cat-choice">
                    <p>Would you like to subscribe to daily Cat Facts! ?
                    </p>
                    <div class="container--cat-buttons">
                        <button class="cancel">No?</button>
                        <button class="subscribe">Absolutely!</button>
                    </div>
                </div>
            </div>
        </div>
        <% include ../images/cat1.svg %>
        <% include ../images/cat2.svg %>
        <% include ../images/cat3.svg %>
        <% include ../images/cat4.svg %>
        <% include ../images/cat5.svg %>
        <% include ../images/cat6.svg %>
        <a class='cat-attribution' href="https://www.vecteezy.com/free-vector/isolated">Isolated Vectors by Vecteezy</a>
    </div>
</div>