<footer>
    <ul>
        <li><a href="">Resume</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">LinkedIn</a></li>
        <li><a href="">StackOverflow</a></li>
    </ul>
    <h3>Copyright <% let ts = new Date(); %> <%= ts.getFullYear() %> Dennis Mai | All Rights Reserved</h3>
</footer>