<body>
    <header>
        <nav>
            <a href="/" class='link--logo'>
                <% include ./logo %>
            </a>
            <button class="button--burger-menu" data-burger="closed">
                <%include ./menu %>
            </button>
            <ul class="ul--burger-menu" data-burger="closed">
                <li class="button--close-burger-menu"><button>Close The Menu</button></li>
                <li>
                    <a href="/about.html">
                        <% include ../images/codemonkey.svg %>
                        Myself
                    </a>
                </li>
                <li>
                    <a href="/projects.html">
                        <% include ../images/legos.svg %>
                        Projects
                    </a>
                </li>
                <li>
                    <a href="/writing.html">
                        <% include ../images/writing.svg %>
                        Writing
                    </a>
                </li>
                <li>
                    <a href="/contact.html">
                        <% include ../images/sob.svg %>
                        Connect!
                    </a>
                </li>
            </ul>
        </nav>
    </header>