<div class="container--hero">
    <div class="cube">
        <img class="side front" src="imgs/portrait-ascii.png" />
        <img class="side back" src="imgs/me.png" />
        <img class="side left" src="imgs/karate-kick.svg" />
        <img class="side right" src="imgs/leila.png" />
        <img class="side top" src="imgs/fam.png" />
        <div class="side bottom"></div>
    </div>
</div>