<div class="container--hero">
    <div id="hero-cube">
        <img id="front" class="side front" src="imgs/me.png" alt="Me, Dennis Mai" />
        <img class="side back" src="imgs/portrait-ascii.png" alt="Me in ASCII characters" />
        <div class="side top"></div>
        <div class="side bottom">
            <% include ./karate-kick %>
        </div>
        <img class="side right" src="imgs/leila.png"
            alt="My daughter Leila at 4 years old. She's super sweet. And a firecracker." />
        <img class="side left" src="imgs/fam.png" alt="Me and my laides at the beach in Kauai, straight chillin'" />
    </div>
</div>