
<% include /components/head %>
<% include /components/header %>
<main>
<section class="section--blog">
<div class="container--info">
<p class="date">Updated: 3/28/2021</p>
<p class="estimate">Length: 8 minutes</p>
</div>
 <h1 id="being-a-present-father">Being a Present Father</h1>
<p><img src="imgs/tim-mossholder-goIMPtdFmig-unsplash.jpg" alt="Alt text" title="Photo by Tim Mossholder"></p>
<figcaption>Photo by Time Mossholder</figcaption>
<p>I love my job. I love programming and web development. I could spend all day learning, experimenting, and building things. Some days, I do do that. That's okay sometimes.</p>
<p>And sometimes, that's not okay.</p>
<p>The internet, full of documentation, articles, and awesome work, is never more a few finger swipes away. Because my work mostly happens in my head, it's easy for me to keep working when I'm not in front of the computer. It's easy for me to lay in bed and think about how to implement the solution to my current problem.</p>
<p>Even when I'm with my family, I can become lost in thought. I <strong>have</strong> to make <em>continuous and conscious effort</em> to put aside my plans, ideas, and thoughts--personal or professional--in order to be <em>fully present</em> with my family. They deserve my attention, and I need to be the best version of myself, so they can be the best versions of themselves.</p>
<p>Why else be a father? Why else be a husband? I made the conscious decision to be a father and <em>embrace a future I cannot control.</em> That's adventure, an odyssey, a hard and arduous journey, one full of long hours, and skill grinding. It's real. And the prizes are for those who can endure. Yes, there are litle victories and progress, big ones too. But the big payoffs don't come all at once. You gotta earn'em.</p>
<p>Now, there's a time for me to be a developer and programmer. There will always be time. But there won't always be time for me to spend with my toddler. By definition, it only lasts a few years.</p>
<p>My time with my family--our time <em>together</em>--is more important than my time making things or expressing myself. Yes, I can always make time for that, especially when I need to, but I know what's most important to me.</p>
<p>My parents were always physically present, more or less, but they worked constantly. My mother owned her own businesses and my father, when he wasn't earning money, was constantly fixing, maintaining, or building something in the garage or yard. Eventually, when I was old and strong enough, I would do the same thing with him, and that's how we bonded. But that wasn't until I was much older.</p>
<p>That's not to say my parents weren't there when I needed them. They were just occupied, busy taking care of our lives. Busy building a future for me. They were and ARE the best parents, and I love them immensely.</p>
<p>And I want to be that for my children. One day, maybe we can do projects together. But when we're together, we're together in the same place and time. And I'm not somewhere else.</p> 
</section>
</main>
<% include /components/footer %>
</html>
